body{
    display: flex;
    height: 148vh;
    background-image: linear-gradient(45deg,#e66465, #9198e5, #7dc4cc, #a7bfe8);
    background-size: 240%;
    animation: bgmove 20s infinite;
}
@keyframes bgmove {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* 这段代码定义了一个CSS样式，将页面的背景设置为一个渐变色的背景，并且通过动画让背景色不断移动。
具体来说，使用了flex布局，设置了高度为150vh，
背景色为线性渐变色，动画效果通过@keyframes定义。 */

*{
    margin: 0;
    padding: 0;
}
div#header{
    background:  #ede8e8;
    width: 100%;
    height: 100px;
    margin: 0;
    display: block;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0, 0.4) ;
}

.logo {
    width: 345px;
    height: 100%;
    position: absolute;
    left: 4%;
    top: -43%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 95px;
    height: 95px;
    margin-right: 47px;
    border-radius: 50%;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0, 0.4) ;
}

.logo span{
    color: #22385a;
    font-size: 40px;
    position: relative;
    bottom: 8px;
}


nav{
    background: #f7f3f3;
    width: 730px;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0, 0.4) ;
    float: right;
}

ul{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0px;
    text-decoration: none;
    float: inline-end;
}

a{
    text-decoration: none;
    color: #777;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul li::after{
    content: '';
    background: #eaa1ae;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover{
    color: #ffffff;
}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

#main{
    width: 800px;
    height: 105vh;
    margin: auto ;
    background-color: #FFFFFF;
    background-attachment: fixed;
    margin-top: 200px;
    opacity: 0.8;  
    border-radius: 1%;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0, 0.4) ;
}

#main a{
    color: #373b8a;
    text-decoration: underline;
}
#main img{
    right: 490px;
    top: 10px;
    border-radius: 7%;
    position: absolute;
    height: 30%;
    margin: 10px;
}

#main .table_1 {
    color: rgb(105, 82, 144);
    width: 321px;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
    right: 64px;
    top: 130px;
    position: relative;
    float: right;
    font-size: 20px;
}

.table_1 tr th{
    border: 2px solid #9198e5;
}

#main p{
    color: #284157;
    top: 75px;
    font-size: 34px;
    right: 162px;
    position: absolute;
    font-family: '楷体';
}

.list_1{
    float: left;
    width: 342px;
    height: 480px;
    top: 290px;
    position: absolute;
    margin-left: 15px;
    font-size: 18px;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0, 0.4);
}

#main .list_1 a{
    color: #333;
    text-decoration: none;
}

#main .list_1 img{
    float: left;
    width: 320px;
    height: 230px;
    left: 0;
    right: 0;
    border-radius: 8%;
}

#main .list_1 p {
    font-size: smaller;
    float: left;
    width: 320px;
    height: 166px;
    margin-top: 270px;
    left: 15px;
    top: 0;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
}

.list_1 p b {
    display: flex;
    justify-content: center;
    width: 280px;
    line-height: 30px;
    margin: 10px 0 0 20px;
}

.list_1 p span {
    float: left;
    width: 280px;
    line-height: 27px;
    margin-left: 20px;
}

.list_1 p span c {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #67a8c8;
}

.list_2{
    float: right;
    width: 342px;
    height: 480px;
    top: 290px;
    position: absolute;
    right: 60px;
    font-size: 18px;
    box-shadow: 0 25px 20px -20px rgba(0, 0,0, 0.4) ;
}

#main .list_2 a{
    color: #333;
    text-decoration: none;
}

#main .list_2 img{
    float: right;
    width: 320px;
    height: 230px;
    left: 0;
    right: 0;
    border-radius: 8%;
}

#main .list_2 p {
font-size: smaller;
float: right;
width: 320px;
height: 166px;
margin-top: 270px;
left: 15px;
top: 0;
border-radius: 5px;
}

.list_2 p b {
display: flex;
justify-content: center;
width: 280px;
line-height: 30px;
margin: 10px 0 0 20px;
}

.list_2 p span {
float: left;
width: 280px;
line-height: 27px;
margin-left: 20px;
}

.list_2 p span c {
display: flex;
justify-content: center;
font-weight: bold;
color: #67a8c8;
}

#footer {
    background-color: #daeaf3;
    color: #050505;
    opacity: 0.6;
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 45px;
    top: 140vh;
    padding: 10px;
}